* {
  margin: 0;
  padding: 0;
  font-family: "kumbh sans", sans-serif;
}
.container1 {
  width: 100%;
  height: 100vh;
}
.container2 {
  width: 100%;
  margin: auto;
  height: 100vh;
  
}
.content_box {
  width: 100%;
  margin: auto;
  height: 100vh;
  /* background-image: radial-gradient(10deg #0f0f0f , #0f0f0f ); */
  background-image: radial-gradient(400px circle at center bottom ,rgb(46, 67, 77),#0f0f0f);
}
nav{
  width: 100%;

}
.navbar {
  color: #fcfcfc;

  margin: auto;
}
.menu {
  width: 100%;
  position: relative;
}
.logo_text {
  width: 120px;
  position: relative;
  top: 30px;
  background-color: transparent;
}
.btn {
  position: relative;
  bottom: 55px;
  border: 1px solid #fcfcfc;
  border-radius: 50px;
  float: right;
  color: #fcfcfc;
  padding: 8px 20px;
  background-color: transparent;
}
ul a {
  text-decoration: none;
  position: relative;
  bottom: 10px;
  left: 30%;
  margin: 20px;
}
ul a li {
  list-style: none;
}
li {
  color: #fcfcfc;
}
.menu {
  display: flex;
}
.section1 {
  position: relative;
  bottom: 70%;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto;
}
.head_text{
  position: relative;
  left: 80px;
  font-size: 4.5rem;
  color: #fcfcfc;
}
p {
  color: #fcfcfc;
}
.goofy_text {
  position: relative;
  top: 30px;
  left: 80px;
}
.download {
  position: relative;
  color: #fcfcfc;
  font-weight: 400;
  padding: 10px 40px;
  border-radius: 50px;
  left: 80px;
  top: 100px;
  border: 1px solid #fcfcfc;
  background: linear-gradient(#0f0f0f, #0f0f0f 50%, #fcfcfc 50%, #fcfcfc);
  background-size: 100% 200%;
  transition: background 0.3s;
}

.download:hover {
  background-position: 100% 100%; 
  color: #0f0f0f;
}

.Learn_more {
  position: relative;
  font-weight: 400;
  background: linear-gradient(#0f0f0f, #0f0f0f 50%, #fcfcfc 50%, #fcfcfc);
  background-size: 100% 200%;
  transition:  0.3s;
  border-radius: 50px;
  color: #fcfcfc;
  padding: 10px 40px;
  border: 1px solid#fcfcfc;
  top: 100px;
  left: 100px;
}

.Learn_more:hover{
  background-position: 100% 100%;
  color: #0f0f0f;
  
}
.section2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  color:#0f0f0f;
  background-image: radial-gradient(10deg #0f0f0f , #0f0f0f );
  background-image: radial-gradient(200px circle at center top ,rgb(46, 67, 77 ),#0f0f0f);
  
}
.box1 {
  position: relative;
  top: 60px;
  left: 80px;
  width: 310px;
  padding: 5px;
  height: 250px;
  border: 1px solid #c3c3c3;
  border-radius: 15px;
  background: linear-gradient(#0f0f0f, #0f0f0f 50%,#26e3c2 50%,#45a0f5);
  background-size: 100% 200%;
  transition: background 0.5s;

}
.box1:hover{
  background-position: 100% 100%;
  color: #fcfcfc;
}
.box2 {
  position: relative;
  top: 60px;
  left: 20px;
  width: 310px;
  height: 250px;
  border: 1px solid #c3c3c3;
  padding: 5px;
  border-radius: 15px;
  background: linear-gradient(#0f0f0f, #0f0f0f 50%,#26e3c2 50%,#45a0f5);
  background-size: 100% 200%;
  transition: background 0.5s;
}
.box2:hover{
  background-position: 100% 100%;
  color: #fcfcfc;
}

.box3 {
  position: relative;
  width: 310px;
  height: 250px;
  border: 1px solid #c3c3c3;
  border-radius: 15px;
  padding: 5px;
  top: 60px;
  right: 40px;
  color: #0f0f0f;
  background: linear-gradient(#0f0f0f, #0f0f0f 50%,#26e3c2 50%,#45a0f5);
  background-size: 100% 200%;
  transition: background 0.5s;
}
.box3:hover{
  background-position: 100% 100%;
  color: #0f0f0f;
}
.grade{
    background: linear-gradient(to right, #26e3c2,
                 #45a0f5);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            position: relative;
  left: 80px;
  font-size: 4.5rem;
}
.image{
  position: absolute;
  right: 0px;
  width: 500px;
  height: 450px;
  background-image: linear-gradient(to left, rgba(0 , 0 , 0 , 0.7)100%,rgba(0 , 0 , 0 , 0.7)100%), url(./pics/Screenshot\ \(15\).png);
  object-fit: cover;
}
.img{
    position: static;
    object-fit: cover;
    width: 550px;
    height: 450px;
    right: 49px;
    top: 80px;
}
.collaboration{
    margin: 30px;
    border-radius:10px ;
    width: 60px;
    height: 60px;
    background-color: #242222;
    padding: 5px;
}
.security{
    margin: 30px;
    border-radius:10px ;
    width: 60px;
    height: 60px;
    background-color: #242222;
    padding: 5px;
}

.collab{
    width: 50px;
    margin: 5px;
    background-color: transparent;
}
.pad{
    width: 50px;
    margin: 5px;
    background-color: transparent;
}
.statistics{
    margin: 30px;
    border-radius:10px ;
    width: 60px;
    height: 60px;
    background-color: #242222;
    padding: 5px;
}
.stats{
    width: 50px;
    
    margin: 5px;
    background-color: transparent;
}
.box_header{
  background-color: transparent;
  margin-top: 20px;
  color: #fcfcfc;
  margin-bottom: 20px;
}
.dummy{
  position: relative;
  top: 20px;
  margin: 35px;
  background-color: transparent;
  
}
.about_page{
  position: relative;
  width: 100%;
  margin: auto;
  bottom: 250px;
  left: 80px;
}
.about{
  width: 100%;
  margin: auto;
  font-size: 4rem;
  background: linear-gradient(to right, #26e3c2,
  #45a0f5);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
}
.elnaz{
  position: relative;
  object-fit: cover;
  width: 700px;
  top: 13px;
  left: 150px;

}
.laptop{
  width: 100%;
  background-image: radial-gradient(10deg #0f0f0f , #0f0f0f );
  background-image: radial-gradient(200px circle at center bottom ,rgb(46, 67, 77),#0f0f0f);
  position: relative;
  bottom: 237px;
  
}
.unsplash{
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: relative;
  left: 20%;
}
.footer{
  position: relative;
  background-color: #0f0f0f;
  bottom:237px ;
  color: white;
  height: 100vh;
  
}
.pricing_text{
 position: relative;
 left: 80px;
 top: 30px;
}
.dummy1{
  position: relative;
  left: 80px;
  top: 60px;
}
.blocks{
  display: grid;
  position: relative;
  grid-template-columns: repeat(3 , 1fr);
  top: 100px;
  grid-gap: 30px;

}
.free{
  width: 300px;
  height: 400px;
  border: 1px solid #fcfcfc;
  position: relative;
  padding: 10px;
  color: #fcfcfc;
  left: 20%;
  border-radius: 25px;
  background: linear-gradient(#0f0f0f, #0f0f0f 50%,#26e3c2 50%,#45a0f5);
  background-size: 100% 200%;
  transition:  0.5s;
}

.free:hover{
  color: #0f0f0f;
  background-position: 100% 100%;
  box-shadow: 0 0 2px 2px #45a0f5;
  border: none;
}

.premium{
  height: 400px;
  width: 300px;
  padding: 10px;
  border: 1px solid #fcfcfc;
  position: relative;
  left: 5%;
  border-radius: 25px;
  background: linear-gradient(#0f0f0f, #0f0f0f 50%,#26e3c2 50%,#45a0f5);
  background-size: 100% 200%;
  transition: background 0.5s;
}
.premium:hover{
  color: #0f0f0f;
  background-position: 100% 100%;
  box-shadow: 0 0 2px 2px #45a0f5;
  border: none;
}
.ultimate{
  width: 300px;
  height: 400px;
  padding: 10px;
  position: relative;
  
  right: 35px;
  background: linear-gradient(#0f0f0f, #0f0f0f 50%,#26e3c2 50%,#45a0f5);
  background-size: 100% 200%;
  transition: background 0.5s;
  border: 1px solid #fcfcfc;
  border-radius: 25px;
  
}
.ultimate:hover{
  color: #0f0f0f;
  background-position: 100% 100%;
  box-shadow: 0 0 1px 1px #45a0f5;
  border: none;
} 
.blocks_header{
  margin-top:20px;
  margin-left: 20px;
  
}
.blocks_dummy{
  text-transform: capitalize;
  margin-left: 20px;
  margin-top: 5px;
  border-bottom: 1px solid #c3c3c3;
  padding-bottom: 30px;
  width: 260px;
}
.info{
  margin-left: 20px;
  margin-top: 20px;
  color: white;

}
.info:hover{
  color: #0f0f0f;
}
.price{
  margin-left: 20px;
  margin-top: 30px;
}
.doodle{
  font-size: 16px;
  font-weight: 100;
}
.buy_now{
  margin-left: 20px;
  margin-top: 30px;
  text-align: center;
  height: 50px;
  width: 260px;
  position: relative;
  bottom: 20px;
  border: none;
  border-radius: 50px;
  font-size: large;
  font-weight: 600;
}  
   /* @media screen and (width <= 1440px){

  .image{
  position: absolute;
  bottom:150px;
  right: 112px;
  width: 500px;
  height: 400px;
  background-image: linear-gradient(to left, rgba(0 , 0 , 0 , 0.7)100%,rgba(0 , 0 , 0 , 0.7)100%), url(./pics/Screenshot\ \(15\).png);
  object-fit: cover;
}
  }  */